name: deploy-to-ipfs

on:
  push:
    paths:
      - 'content/**'
      - 'pelicanconf.py'
      - 'publishconf.py'

jobs:
  pelican-build:
    name: Build website using Pelican
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Install Pelican
        run: pip install pelican
      - name: Build website with Pelican
        run: pelican content -s publishconf.py -t "themes/solaio blog"
      - name: Upload artifact
        uses: actions/upload-artifact@v2
        with:
          name: built-website
          path: output
  ipfs-deploy:
    name: Deploy to IPFS
    needs: pelican-build
    runs-on: ubuntu-latest
    environment: IPFS
    steps:
      - name: Retrieve built website
        uses: actions/download-artifact@v2
        with:
          name: built-website
          path: output
      - name: Add to Pinata
        id: pin
        uses: aquiladev/ipfs-action@v0.1.5
        with:
          path: output
          service: pinata
          pinataKey: ${{ secrets.PINATA_KEY }}
          pinataSecret: ${{ secrets.PINATA_SECRET }}
          pinataPinName: 'blog.thesola.io'
      - name: Update DNSLink
        uses: textileio/cloudflare-update-dnslink@v2
        with:
          cid: ${{ steps.pin.outputs.hash }}
        env:
          RECORD_NAME: '_dnslink.blog'
          RECORD_DOMAIN: 'thesola.io'
          CLOUDFLARE_TOKEN: ${{ secrets.CLOUDFLARE_TOKEN }}
          CLOUDFLARE_ZONE_ID: ${{ secrets.CLOUDFLARE_ZONEID }}
